/* Added by Crazy Net */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.rawgit.com/ahmedmontaser12/elmofedtech/0a448ee3/29ltbukraregular.ttf') format('ttf');
}
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.rawgit.com/ahmedmontaser12/elmofedtech/0a448ee3/29ltbukrabold.ttf') format('ttf');
}
